doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='oscill.ai\'s website')
        meta(name='author', content='Denis Carnino')

        title We are oscill.ai

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        //link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
        //link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-5
                a(href='#top')
                    img(src='assets/img/octopus_icon.png' alt='...', style={'height': '3rem', 'margin-right': '1rem'})
                a.navbar-brand.text-dark(href='#top') oscill.ai
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link.text-secondary(href='#top') Home
                        li.nav-item
                            a.nav-link.text-secondary(href='#services') Services
                        li.nav-item
                            a.nav-link.text-secondary(href='#about-us') About us
                        li.nav-item
                            a.nav-link.text-secondary(href='#contact') Contact

        // Header
        section#home
            .container.px-5
                div(style={'margin-top': '10rem', 'margin-bottom': '.5rem'}).px-5.text-center
                    h1.masthead-subheading.mb-0.display-3 High-quality audio tools
                .px-5
                    header.masthead.text-center.text-white(style={
                        'background-image': "url('assets/img/waveform_cropped_resized_gray_opacity40.png')",
                        'background-blend-mode': 'overlay'
                    })
                        .masthead-content
                            .container.px-5
                                h2.mb-0
                                    span.masthead-heading.display-3 made
                                    span.masthead-heading.highlight.ms-2 smarter
                                br
                                h3.display-4 We are oscill.ai
                                p.mx-auto.col-md-8.col-lg-4
                                    | Looking for AI-enabled magic, but don’t know where to start?
                                    br
                                    br
                                    | Already using AI but want to get to the next level ?
                                    br
                                    br
                                    | Whether you need an off-the-shelf or a tailor-made solution, 
                                    span.highlight-bold we’ve got you covered.
                        //.bg-circle-1.bg-circle
                        //.bg-circle-2.bg-circle
                        //.bg-circle-3.bg-circle
                        //.bg-circle-4.bg-circle
                div(style={'margin-top': '2rem', 'margin-bottom': '6rem'}).px-5.text-center
                    a.btn.btn-secondary.btn-xl.rounded-pill.mt-5(href='#contact') Get in touch!

        // Section services
        section.tritext#services
            .tri-bg-circle.d-none.d-lg-block(style={
                'background-image': "url('assets/img/octopus_transparent_fill_flip.png')",
                'background-blend-mode': 'overlay',
                'background-size': 'cover'
            })
            .tritext-content
                // Content section 1
                section.text-lg-center
                    .container.px-5
                        .row.gx-5.align-items-center
                            //.col-lg-6.order-lg-2
                                .p-5
                                    img.img-fluid.rounded-circle(src='assets/img/01.jpg', alt='...')
                            .col-lg-6.col-xxl-5.mx-auto
                                .p-5
                                    h2.display-4 Industry-standard
                                    p
                                        | We create plugins with modern interfaces and innovative audio processing, ready for commercial release.
                                        br
                                        br
                                        | You get the sound that you want: from vintage compression to modern synthesizers, we help you reach the aesthetic that perfectly fits your brand.
                                        br
                                        br
                                        | Our purpose is to use our expertise to bring
                                        span.highlight-bold-dark your
                                        | ideas to the world.

                // Content section 2
                section
                    .container.px-5
                        .row.gx-5.align-items-center
                            .d-none.d-xxl-block.col-xxl-2.order-2
                            .col-lg-6.col-xxl-5.order-1
                                .p-5
                                    h2.display-4 ...for everyone
                                    p
                                        | We believe AI is a game-changer when used in the right place.
                                        br
                                        br
                                        | That is why we take time to discuss your project, and train the right algorithm to go beyond what regular DSP can achieve.
                                        br
                                        br
                                        | AI is your shortcut to new sonic grounds and enhanced workflow. We take care of hiding its complexity. At the end of the day, it’s all about unleashing
                                        span.highlight-bold-dark artistic
                                        | creativity.
                            .col-lg-6.col-xxl-5.order-3
                                .p-5
                                    h2.display-4 ...pushed to the edge
                                    p
                                        | From decades on, cutting-edge technology has fueled the creativity of the pioneers, shaping the history of music.
                                        br
                                        br
                                        | Our team constantly tests new ideas, exploring the last trends in AI and figuring out how it could benefit to the audio industry.  
                                        br
                                        br
                                        | Do you have a specific project in mind? We want to hear about it. Together, let’s invent the
                                        span.highlight-bold-dark future
                                        | of audio technology.


        // Sine wave separator
        section.curve.d-none.d-lg-block.mx-auto.my-0.py-0(
            style={'transform': 'scale(.25)', 'width': '1000px', 'overflow': 'hidden', 'white-space': 'nowrap',
                   'height': '200px'})
            //.showing
            each val in [1,2,3,4,5,6,7,8,9,10]
                .incr.d-inline-block
                .peak.d-inline-block
                .decrease.d-inline-block
                .valley.d-inline-block

        // Content section 3
        section
            .container.px-5.pt-5.pt-lg-0(style={'margin-top': '0rem', 'margin-bottom': '6rem'})
                .row.gx-5.align-items-center.pt-5.pt-lg-0
                    .col-lg-5.order-lg-1
                        .p-5.pb-0.p-lg-5.col-6.col-lg-12.mx-auto
                            img.img-fluid(src='assets/img/octopus_transparent_fit_to_content.png', alt='...')
                    .col-lg-7.order-lg-2
                        .p-5
                            //h2.display-4 Title?
                            p
                                span(style={'font-weight': '700'}) Wonder what we can do for you ?
                                br
                                br
                                | Here are some audio challenges where AI really shines:
                            ul
                                li Vintage hardware modeling
                                li Sound analysis and re-synthesis
                                li Sound event detection
                                li Sources separation
                                li Denoising
                            p
                                | But the most exciting ones are yet to invent. That’s why we love hearing about your projects, and design solutions that
                                span.highlight-bold-dark make your life easier
                                | as a plugin company.

        // Content section 4
        section#about-us
            .container.px-5.bg-primary.text-light
                .p-5
                    .text-lg-center
                        h2.display-4 We help you navigate this AI world!
                // TODO (@dcarnino): group elements by row to have them aligned horizontally
                .row.gx-5.align-items-center
                    .d-none.d-xxl-block.col-xxl-2.order-2
                    .col-lg-6.col-xxl-5.order-1
                        .ps-lg-5
                            .text-center.text-lg-start.col-6.col-lg-12
                                img.img-fluid.rounded-circle.col-8(src='assets/img/remi_dugue_pp.jpg', alt='...')
                        .p-5
                            .text-lg-start
                                h2.display-6 Rémi Dugué
                                h4.highlight-bold Co-founder, DSP guru
                                p
                                    | Rémi has an MSc in Electronics and Signal Processing. He has been working in the audio industry for many years now, releasing dozens of commercial plugins. Besides that, he is the guitarist and frontman of various rock bands. He draws his inspiration from guitar pedals, modular synthesizers and creative recording techniques. His dream is to bring new kind of interactivity as well as fresh and exciting sounds to the software world.
                    .col-lg-6.col-xxl-5.order-3
                        .pe-lg-5
                            .text-center.text-lg-end.col-6.col-lg-12
                                img.img-fluid.rounded-circle.col-8(src='assets/img/denis_carnino_pp.jpg', alt='...')
                        .p-5
                            .text-lg-end
                                h2.display-6 Denis Carnino
                                h4.highlight-bold Co-founder, AI evangelist
                                p
                                    | Denis is a Senior Data Scientist working across multiple industries. With an MSc in Theoretical Computer Science and Complex Systems, he also published in the field of bioacoustics. Now, he focuses on helping tech companies deploy the latest solutions in Machine Learning and Deep Learning. Besides that, he loves going on stage, fiddling with keys, synths, pianos and mixing consoles.

        // Contact
        section#contact
            .container.px-5.bg-secondary
                .p-5
                    .text-lg-center
                        h2.display-4 Get in touch
                .col-xxl-8.col-lg-9.mx-auto
                    //form.d-flex(action='https://formspree.io/f/moqzqwpb' method='POST')
                        input.d-flex(type="hidden" name="_subject" value="Contact request from website")
                        input.d-flex(type="email" name="_replyto" placeholder="Your email" required)
                        textarea.d-flex(name='message' placeholder="Type your message" required)
                        button.d-flex(type='submit') Send
                    form(action='https://formspree.io/f/moqzqwpb' method='POST')
                        .p-2
                            .form-group
                                //label(for='InputEmail') Email address
                                input#InputEmail.form-control(type="email" name="_replyto" aria-describedby="emailHelp" placeholder="Your email" required)
                                small#emailHelp.form-text.text-muted.small We&apos;ll never share your email with anyone else.
                        .p-2
                            .form-group
                                //label(for='InputMessage') Your Message
                                textarea#InputMessage.form-control(name="message" placeholder="Your message" rows="5" required)
                        // TODO (@dcarnino): add captcha or checkbox
                        //.p-2
                            .form-check
                                input#Check.form-check-input(type='checkbox')
                                label.form-check-label.text-muted(for='Check') I am not an AI plugin
                        .p-2
                            button.btn.btn-success(type='submit') Send
                .p-4

        // Footer
        footer.py-5
            .container.px-5
                p.m-0.text-center.text-muted.small Copyright &copy; oscill.ai 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')