//
// Colors 
// 

// Override Bootstrap color system

$yellow: #f0d496;
$blue: #3891A6;

// Override Bootstrap default state colors

$primary: $blue;
$secondary: $yellow;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3;
